root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = false

[*.{js,ts,vue,html,css,scss,json}]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = false

[*.vue]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = false

[*.{js,ts}]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = false

[*.{html,css,scss}]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = false

[*.json]
indent_style = space
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = false
